.profile {
  width: 300px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  background-color: #ebebeb;
  border-radius: 20px;
  box-shadow: 7px 5px 23px -9px rgba(0, 0, 0, 0.75);
}

.photo {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.photo img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.new {
  position: absolute;
  top: 20px;
  right: -20px;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 10px;
  background-color: aquamarine;
  border-radius: 8px;
}

.container {
  width: 500px;
  margin: auto;
}

.banner {
  text-align: center;
  margin-top: 5rem;
  font-size: 2rem;
  background-color: gold;
  font-weight: bold;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid rgb(215, 127, 12);
}

.counter:hover {
  background-color: rgb(246, 243, 197);
}

.number {
  font-size: 7rem;
}
.total {
  font-size: 14px;
}
.button {
  font-size: 2rem;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background: rgb(215, 127, 12);
  background: linear-gradient(
    90deg,
    rgba(215, 127, 12, 1) 0%,
    rgba(253, 220, 29, 1) 100%
  );
}
